[submodule "lib/cinatra"]
	path = lib/cinatra
	url = git@github.com:qicosmos/cinatra.git
[submodule "src/utilities/reflect_json"]
	path = src/utilities/reflect_json
	url = git@github.com:Mastttttter/reflect_json.git
